{% extends "base.html" %}

{% block content %}
    <div class="box">
        <div class="box_form">
            <form action="/spam" enctype="multipart/form-data" method="POST">
                <div class="mb-3">
                    <label class="form-label"><h2>Рассылка</h2></label>
                </div>
                <div class="mb-3">
                    <label for="subject_email" class="form-label">Введите тему письма</label>
                    <input name="subject_email" type="text" class="form-control" id="subject_email"
                           placeholder="Введите тему письма (название курса)">
                </div>

                <div class="mb-3">
                    <label for="text_email" class="form-label">Введите текст сообщения</label>
                    <textarea name="text_email" type="text" class="form-control" id="text_email"
                              placeholder="Введите текст сообщения"></textarea>
                </div>

                <div class="mb-3">
                    <label for="file_email" class="form-label">Прикрепите файл(если есть)</label>
                    <input name="file_email" class="form-control" type="file" id="file_email">
                </div>
                <div class="mb-3">
                    <label for="table_email" class="form-label">Прикрепите таблицу рассылки</label>
                    <input name="table_email" class="form-control" type="file" id="table_email">
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
                <a href="{{ url_for('index') }}" class="btn btn-primary" role="button" aria-disabled="true">Назад</a>
            </form>
        </div>
    </div>
{% endblock %}